/*
* @Author: MAIBENBEN
* @Date:   2018-08-27 09:00:39
* @Last Modified by:   MAIBENBEN
* @Last Modified time: 2018-08-30 13:24:13
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    font-style: normal;
}

body {
    text-align: center;
    background: #f2f2f2;
}

.header {
    width: 100%;
    height: 63px;
    line-height: 63px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: url('../img/bg_head.png') repeat-x;
}

.container {
    margin: auto;
    text-align: left;
    width: 935px;
    height: 48px;
    padding: 0;
}

.header .container .nav {
    width: 484px;
    height: 40px;
    margin-top: 8px;
    overflow: hidden;
    line-height: 40px;
    display: flex;
    float: right;
}

.header .container .head_1 {
    float: left;
    width: 182px;
    height: 38px;
    background-image: url('../img/logo.png');
    margin-top: 10px;
    position: relative;
}
.header .container span {
    width: 182px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/logo.png');
    background-position: 0% -38px;
    opacity: 0;
}
.header .container .nav a span{
    width: 100%;
    height: 100%;
    background-image: url('../img/nav.png');
}

.header .container .nav .head_2 {
    width: 44px;
    height: 100%;
    background-image: url('../img/nav.png');
    background-position: -1px -41px;
    margin-right: 40px;
    position: relative;
}
.header .container .nav .head_2 span{
    background-position: -1px -41px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.header .container .nav .head_3 {
    width: 42px;
    background-image: url('../img/nav.png');
    background-position: -93px 0;
    margin-right: 40px;
    position: relative;
}
.header .container .nav .head_3 span{
    background-position: -93px -41px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.header .container .nav .head_4 {
    width: 85px;
    background-image: url('../img/nav.png');
    background-position: -177px 0;
    margin-right: 40px;
    position: relative;
}
.header .container .nav .head_4 span{
    background-position: -177px -41px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.header .container .nav .head_5 {
    width: 80px;
    background-image: url('../img/nav.png');
    background-position: -303px 0;
    margin-right: 40px;
    position: relative;
}
.header .container .nav .head_5 span{
    background-position: -303px -41px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.header .container .nav .head_6 {
    width: 68px;
    background-image: url('../img/nav.png');
    background-position: -427px 0;
    position: relative;
}
.header .container .nav .head_6 span{
    background-position: -427px -41px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.header .container .small {
    font-size: 30px;
    font-weight: 400;
    color: #dbdbdb;
    display: none;
    text-decoration: none;
    position: absolute;
    right: 20px;
}

.header .container .small:hover {
    color: rgb(146, 190, 36);
}

.banner {
    width: 100%;
    padding-top: 106px;
    background: url('../img/bg_banner.jpg') no-repeat;
    background-position: top;
}

.banner .showf {
    margin: auto;
    width: 100%;
    height: 440px;
    position: relative;
    overflow: hidden;
}

.banner .showf .shows {
    width: 100%;
    position: absolute;
    top: 0;
    left: 1519px;
    padding: 0 20px;
}

.banner .showf .shows .text {
    width: 566px;
    height: 100px;
    margin: 0 auto;
}

.banner .showf .shows .img {
    width: 943px;
    height: 318px;
    margin: 0 auto;
    margin-top: 12px
}

.clear {
    clear: both;
}

.banner .button {
    width: 219px;
    display: block;
    margin: auto;
}

.banner .button a {
    float: left;
    display: inline;
    width: 23px;
    height: 23px;
    margin-right: 1px;
    background: url('../img/bg_banner_button.png') no-repeat;
}

.banner .button a.dot_1 {
    background-position: -0px -23px;
}

.banner .button a.dot_2 {
    background-position: -23px 0;
}

.banner .button a.dot_3 {
    background-position: -46px 0;
}

.banner .button a.dot_4 {
    background-position: -69px 0;
}

.banner .button a.dot_5 {
    background-position: -92px 0;
}

.banner .button a.dot_6 {
    background-position: -115px 0;
}

.banner .button a.dot_7 {
    background-position: -138px 0;
}

.banner .button a.dot_8 {
    background-position: -161px 0;
}

.banner .button a.dot_9 {
    background-position: -184px 0;
}

#dot_fire {
    background-position-y: -23px;
}

.banner .f {
    width: 100%;
    height: 16px;
    background: url('../img/banner_f.png');
    display: block;
    margin: auto;
    margin-bottom: 12px;
}

nav {
    padding-bottom: 270px;
}

nav .container {
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: 20%;
    margin: auto;
}

nav .container .case {
    margin: 0 auto;
}

nav .container .case li {
    float: left;
    display: inline;
    margin-right: 14px;
    width: 302px;
    height: 215px;
    background: url('../img/bg_case_f.png') center bottom no-repeat;
    position: relative;
}

nav .container .case li .case_x {
    display: block;
    width: 302px;
    height: 185px;
    padding: 20px;
    background: url('../img/bg_case.png') no-repeat;
    position: absolute;
    bottom: 14px;
    left: 0px;
    transition: .5s;
}

nav .container .case li .case_x .zhe {
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 262px;
    height: 148px;
    z-index: 2;
    display: none;
}

nav .container .case li .case_x .first {
    width: 61px;
    height: 61px;
    top: 45px;
    position: absolute;
    z-index: 3;
    left: 50px;
    display: none;
}

nav .container .case li .case_x .second {
    width: 61px;
    height: 61px;
    top: 45px;
    position: absolute;
    z-index: 3;
    right: 50px;
    display: none;
}

nav .container .case li .case_x:hover {
    bottom: 30px;
}

nav .container .case li .case_x:hover .zhe {
    display: inline;
}

nav .container .case li .case_x:hover .first {
    display: inline;
    /* left: 80px; */
    transition-delay: .5s;
}

nav .container .case li .case_x:hover .second {
    display: inline;
    /* right: 80px; */
    transition: .5s;
}

nav .box_t {
    background: url('../img/box_t.png') no-repeat;
    width: 935px;
    height: 27px;
    margin: auto;
}

nav .box_m {
    width: 935px;
    height: 49px;
    background: url('../img/box_m.png') repeat-y;
    padding: 0px 29px 0px 29px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav .box_m a {
    width: 160px;
    height: 41px;
    background-image: url('../img/recommend_read_more.png');
    background-position: 0% -82px;
    position: relative;
}
nav .box_m span{
    width: 100%;
    height: 100%;
    background-image: url('../img/recommend_read_more.png');
    background-position: 0 -41px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


nav .box_b {
    background: url('../img/box_b.png') no-repeat;
    height: 27px;
    width: 935px;
    margin: auto;
}

nav .box_t {
    margin-top: 22px;
}

nav .box3_m {
    width: 935px;
    height: 222px;
    margin: auto;
    background: url('../img/box3_m.png') repeat-y;
    padding: 0px 29px 0px 9px;
}

nav .box3_m .pic1 {
    float: left;
    width: 285px;
    height: 90px;
    margin-right: 20px;
    background-image: url('../img/box3_bg1.png');
    background-position: 0% -188px;
    position: relative;
}
nav .box3_m .pic1 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/box3_bg1.png');
    background-position: 0 -94px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

nav .box3_m .pic2 {
    float: left;
    width: 285px;
    height: 90px;
    margin-right: 20px;
    background-image: url('../img/box3_bg2.png');
    background-position: 0% -188px;
    position: relative;
}
nav .box3_m .pic2 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/box3_bg2.png');
    background-position: 0 -94px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

nav .box3_m .pic3 {
    float: left;
    width: 285px;
    height: 90px;
    background-image: url('../img/box3_bg3.png');
    background-position: 0% -188px;
    position: relative;
}
nav .box3_m .pic3 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/box3_bg3.png');
    background-position: 0 -94px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

nav .box3_m .pic4 {
    float: left;
    width: 285px;
    height: 90px;
    margin-right: 20px;
    margin-top: 42px;
    background-image: url('../img/box3_bg4.png');
    background-position: 0% -188px;
    position: relative;
}
nav .box3_m .pic4 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/box3_bg4.png');
    background-position: 0 -94px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

nav .box3_m .pic5 {
    float: left;
    width: 285px;
    height: 90px;
    margin-right: 20px;
    margin-top: 42px;
    background-image: url('../img/box3_bg5.png');
    background-position: 0% -188px;
    position: relative;
}
nav .box3_m .pic5 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/box3_bg5.png');
    background-position: 0 -94px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

nav .box3_m .pic6 {
    float: left;
    width: 285px;
    height: 90px;
    margin-top: 42px;
    background-image: url('../img/box3_bg6.png');
    background-position: 0% -188px;
    position: relative;
}
nav .box3_m .pic6 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/box3_bg6.png');
    background-position: 0 -94px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.box2_m {
    background: url('../img/box2_m.png') repeat-y;
    padding: 0px 29px 0px 29px;
    width: 935px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.box2_m .dl {
    width: 252px;
    font-size: 11px;
    color: #787878;
    line-height: 21px;
    position: relative;
    text-align: left;
}

.box2_m .dl img {
    margin-bottom: 8px;
}

.box2_m .fr {
    width: 545px;
    margin-left: 22px;
}

.box2_m .fr img {
    /* margin-left: 15px; */
}

.box2_m .fr .fl {
    margin-top: 22px;
    display: block;
    float: left;
}

.box2_m .fr .flr {
    display: flex;
    flex-direction: column;
    float: left;
}

.box2_m .fr .flr img {
    width: 325px;
    height: 58px;
    margin-left: 0;
    margin-top: 22px;
}

.box2_m .fr .flr p {
    font-size: 11px;
    color: #787878;
    line-height: 21px;
    width: 309px;
    margin: 8px 4px 0px 12px;
}

nav .box2_t {
    background: url('../img/box2_t.png') no-repeat;
    width: 935px;
    height: 22px;
    margin: auto;
    margin-top: 22px;
}

nav .box2_b {
    background: url('../img/box2_b.png') no-repeat;
    height: 22px;
    width: 935px;
    margin: auto;
}

footer {
    background: url('../img/out_line.png') center center repeat-x;
    height: 92px;
    margin: 28px 0px 28px 0px;
}

footer .move {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .move .foot_1 {
    width: 92px;
    height: 92px;
    background-image: url('../img/out_btn.png');
    background-position: 0 0;
    position: relative;
}
footer .move .foot_1 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/out_btn.png');
    background-position: 0 -93px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

footer .move .foot_2 {
    width: 92px;
    height: 92px;
    background-image: url('../img/out_btn.png');
    background-position: -125px 0;
    position: relative;
}
footer .move .foot_2 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/out_btn.png');
    background-position: -125px -93px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

footer .move .foot_3 {
    width: 92px;
    height: 92px;
    background-image: url('../img/out_btn.png');
    background-position: -251px 0;
    position: relative;
}
footer .move .foot_3 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/out_btn.png');
    background-position: -251px -93px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

footer .move .foot_4 {
    width: 92px;
    height: 92px;
    background-image: url('../img/out_btn.png');
    background-position: -378px 0;
    position: relative;
}
footer .move .foot_4 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/out_btn.png');
    background-position: -378px -93px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

footer .move .foot_5 {
    width: 92px;
    height: 92px;
    background-image: url('../img/out_btn.png');
    background-position: -502px 0;
    position: relative;
}
footer .move .foot_5 span{
    width: 100%;
    height: 100%;
    background-image: url('../img/out_btn.png');
    background-position: -502px -93px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

nav .over {
    color: rgb(146, 146, 146);
    font-size: 12px;
}

nav .over span {
    color: rgb(146, 190, 36);
}

.foot {
    width: 100%;
    height: 267px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: url('../img/bg_foot.png') center top no-repeat;
    opacity: 0;
}


@media screen and (max-width: 1200px) {
    nav .container {
        width: 100%;
        height: 100%;
        text-align: left;
        padding-left: 2.7%;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 755px;
    }

    nav .container {
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 0 16%;
    }

    .banner .showf .shows .text {
        width: 566px;
        height: 100px;
        margin: 50px auto 0;
    }

    .banner .showf .shows .img {
        margin-top: 12px;
        width: 743px;
        height: 248px;
        margin: 20px auto 0;
    }

    nav .box_t {
        width: 80%;
    }

    nav .box_m {
        width: 80%;
    }

    nav .box_b {
        width: 80%;
    }

    nav .box_m a {
        display: none;
    }

    nav .box3_m {
        width: 80%;
        height: 370px;
        margin: auto;
        background: url('../img/box3_m.png') repeat-y;
        padding: 0px 29px 0px 29px;
    }

    nav .box3_m .pic3 {
        margin-right: 20px;
        margin-top: 42px;
    }

    nav .box2_m {
        width: 80%;
        background: #F9F9F9;
        padding-top: 22px;
    }

    nav .box2_t {
        background: url('../img/box3_t.png') no-repeat;
        width: 80%;
        height: 22px;
        margin: auto;
        margin-top: 22px;
    }

    nav .box2_b {
        background: url('../img/box3_b.png') no-repeat;
        height: 22px;
        width: 80%;
        margin: auto;
    }

    .box2_m .dl {
        display: none;
    }

    nav .over {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .header .container .nav {
        display: none;
    }

    .header .container .small {
        display: inline;
    }

    .banner .showf .shows .text {
        width: 566px;
        height: 100px;
        margin: 80px auto 0;
    }

    .banner .showf .shows .img {
        margin-top: 12px;
        width: 643px;
        height: 208px;
        margin: 30px auto 0;
    }

    nav .box_m .fl {
        width: 90%;
        height: 90%;
        margin: auto;
    }

    nav .container .case_x {
        margin: 0 auto;
    }

    nav .box3_m {
        height: 740px;
        margin: auto;
        background: url('../img/box3_m.png') repeat-y;
        padding: 0 29px 0 29px;
    }

    nav .box3_m .pic3 {
        margin-right: 20px;
        margin-top: 42px;
    }

    nav .box3_m .pic2 {
        margin-top: 42px;
    }

    nav .box2_m {
        width: 80%;
        background: #F9F9F9;
        padding-left: 0;
        padding-right: 0;
    }

    .box2_m .fr .flr p {
        margin-top: 40px;
    }

    nav .container {
        padding: 0 30%;
    }
}